{% extends 'base.html' %}
{% block content %}

<section class="page-header">
    <p class="sec-label">Our Collection</p>
    <h1 class="page-title">Shop All Products</h1>
</section>

<section class="products-page">
    <div class="products-grid">

        <div class="prod-card">
            <div class="prod-img">Image</div>
            <div class="prod-skin">Sensitive Skin</div>
            <div class="prod-name">Black Rice Cleanser</div>
            <div class="prod-price">PKR 2,500</div>
        </div>

        <div class="prod-card">
            <div class="prod-img">Image</div>
            <div class="prod-skin">Dry Skin</div>
            <div class="prod-name">Hyaluronic Cleanser</div>
            <div class="prod-price">PKR 2,500</div>
        </div>

        <div class="prod-card">
            <div class="prod-img">Image</div>
            <div class="prod-skin">Oily Skin</div>
            <div class="prod-name">Mochi Cleanser</div>
            <div class="prod-price">PKR 2,500</div>
        </div>

    </div>
</section>

{% endblock %}